@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&family=Roboto:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,600;1,700&display=swap");

//  Default colors
$primaryColor: #213f7d;
$navlinkHover: #363636;
$fontWeight: 400;
$fontSize: 16px;
$fontFamily: Work Sans;

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
p {
  font-family: $fontFamily, "Poppins";
  color: $primaryColor;
}



input {
  display: block;
}
a {
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
  font-size: $fontSize;
  font-weight: $fontWeight;
  &:hover {
    color: $navlinkHover;
  }
}

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

img {
  /* height: 100%; */
  /* max-width: 100%; */
  max-width: 100%;
  height: auto;
}
// div.select{
//   width: 100%;
// }

.button {
  background-color: #39cdcc;
  border-color: #dbdbdb;
  border-width: 1px;
  color: white;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button:hover,
.button.is-hovered {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus,
.button.is-focused {
  border-color: #485fc7;
  color: #363636;
}

.main {
  display: flex;
  gap: 2px;
}
.header {
  background-color: #ffffff;
  height: 50px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  z-index: 2;
}
.sidebar {
  width: 210px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  height: 100vh;
  z-index: 1;
  // position: fixed;
}
.body {
  width: auto;
  background-color: #fbfbfb;
  flex-grow: 2;
  padding: 60px;
}
/* Login Component */
#form {
  display: flex;
  flex-direction: column;
}
.login__content {
  margin: 80px;
}
.login__logo {
  margin-bottom: 40px;
}
.login__body {
  display: flex;
  justify-content: space-evenly;
  gap: 14px;
}
.login__image {
  display: flex;
  justify-content: center;
  width: 50%;
  /* background-color: rgb(243, 243, 243); */
  /* height: 300px; */
}
.login__form {
  width: 300px;
  text-align: left;
}
.login__form h2 {
  color: #213f7d;
  font-weight: 700;
  font-size: 40px;
}
.login__form label {
  line-height: 3rem;
}
/* Card Component */

.card {
  width: 240px;
  height: 160px;
  line-height: 2rem;
  padding: 20px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.card__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 16px; */
  text-transform: uppercase;
  color: #545f7d;
}
.card__stats {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

/* Card List Component */
.card__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* User Content */

.user__content > p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #213f7d;
  margin-bottom: 16px;
}

/* Side Bar and Links */

.sidebar__links a {
  padding: 8px 0 8px 8px;
  font-weight: 700;
  font-size: 30px;
  color: white;
  word-spacing: 30px;
}
// Dropdown

.dropdown button {
  outline: none;
  border-color: none;
}
a > span > svg {
  margin-right: 10px;
}

// Table
.table-container {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-top: 34px;
  padding: 20px;
  color: $primaryColor;

  th > span{
    font-size: 12px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  table {
    color: $primaryColor;
    text-align: left;
    border: none;
    outline: none;
    th, td {
      padding: 14px;
      
    }
    thead {
      font-weight: 600;
      border: none;
      padding: 16px;
    tr {
        border: 0;
        // margin: 14px;
        text-align: left;
      }
    }
    th {
      border: none;
    }
    td {
      margin: 24px;
      text-align: left;
      font-size: 14px;
    }
    .tag{
      font-size: 14px;
    }
  }
}

.table__footer{
  display: flex;
  justify-content: space-between;
}

#navbarBasicExample{
  margin-left: 120px;
}
/* Mobile responsive */
@media screen and (max-width: 768px) {
  .login__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }
  .login__image {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: rgb(243, 243, 243); */
    /* height: 300px; */
  }
  .login__content {
    text-align: center;
    margin: 10px;
  }
  .login__form {
    width: 100%;
    text-align: center;
  }
  .card__list {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .body {
    padding: 6px;
  }
  /* .sidebar {
    display: none;
  } */
  .header {
    height: 70px;
  }
  .user__content > p {
    text-align: center;
  }

}


